.main {
    background: black;
    color: #FFF;
}

table.departureBoard {
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8em;
    width: 100%;
}

.departureBoard caption {
    font-size: 4em;
    color: white;
    text-align: center;
    white-space: nowrap;
}

.departureBoard th, td {
    padding: .3em;
    text-align: left;
    white-space: nowrap;
}

.departureBoard th {
    font-size: 3em
}

.departureBoard td {
    color: #f1f442;
    font-family: 'VT323', monospace;
    font-size: 3.5em;
}

.departureBoard .time, .departureBoard .destination {
    text-transform: uppercase;
}

.departureBoard .track {
    text-align: right;
}

.departureBoard .status {
    color: #8ff442;
}

.departureBoard .status.delayed {
    color: #f45c42;
}

.departureBoard .error {
    color: #f45c42;
}


@media (min-width: 30em) and (orientation: landscape) {
    table.departureBoard {
        width: auto;
    }

    .departureBoard caption {
        font-size: 3em;
    }

    .departureBoard th {
        font-size: 1.5em
    }

    .departureBoard td {
        font-size: 2em;
    }
}

