<table class="departureBoard">
  <caption>{{ .Title }}</caption>
  <tr><th>Time</th><th>Destination</th><th>Track</th><th>Status</th></tr>
  {{if .Error}}
    <tr class="departure">
      <td class="error" colspan=4>{{.Error.Error}}</td>
    </tr>
  {{else}}
    {{range .Departures}}
      <tr class="departure">
        <td class="time">{{.TimeLabel}}</td>
        <td class="destination">{{.Destination}}</td>
        <td class="track">{{.Track}}</td>
        {{if eq .Status "Delayed"}}
          <td class="status delayed">{{.Status}}</td>
        {{else}}
          <td class="status">{{.Status}}</td>
        {{end}}
      </tr>
    {{end}}
  {{end}}
</table>
